# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. SciKit-Learn

| Data Science Tools |
----------------------
| Jupyterlab          |
| Apache Zeppelin     |
| RStudio             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
#  This a simple arithmetic expression to mutiply then add integers

In [30]:
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60

In [34]:
min = 200
hr = 200 / 60
print(hr)

3.3333333333333335

## Author
Ezaz Nahid Tapu